__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.conda/
conda-meta/
*.egg-info/
.eggs/
dist/
build/
*.egg
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.ipynb_checkpoints
*.log
*.pdf
venv312/
